<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<link rel="icon" href="img/favicon.ico">
    <title>搜索结果</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet"/>
	<style>
		.mod_tab {
		    position: relative;
		    zoom: 1;
		    border-bottom: 1px solid #f7f7f7;
		    margin-bottom: 30px;
		}
		.mod_tab, .mod_tab__item {
		    height: 56px;
		    line-height: 56px;
		}
		.mod_tab__current {
		    color: #508d92;
		}
		.mod_tab__item {
		    position: relative;
		    float: left;
		    font-size: 18px;
		    overflow: hidden;
		    margin-right: 55px;
		}
		a {
		    color: #000;
		    text-decoration: none;
		} 
	</style>
  </head>
  <body>
	<div class="mod_header">
	    <div class="section_inner">
	        <h1 class="qqmusic_title"><a href="index.html"><img src="img/musiclogo.png" alt="牟云音乐" class="music_logo"></a></h1>
	        <!-- 导航 S -->
	        <ul class="mod_top_nav" role="nav">
	            <li class="top_nav__item">
	                <a href="index.html" class="top_nav__link top_nav__link--current" title="音乐馆">音乐馆</a>
	            </li>
	            <li class="top_nav__item">
	                <a href="playlists.html" class="top_nav__link" title="歌单">歌单</a>
	            </li>
				<li class="top_nav__item">
				    <a href="index.html#ranking" class="top_nav__link" title="排行榜">排行榜</a>
				</li>
				<li class="top_nav__item">
				    <a href="singers.html" class="top_nav__link" title="歌手">歌手</a>
				</li>
	        </ul>
		</div>
	</div>
    <div class="container">
		<div class="row">
			<div class="mod_tab">
				  <a id="tab_song" class="mod_tab__item mod_tab__current" href = "javascript:void(0);" onclick ="show_song()">单曲</a>
				  <a id="tab_album" class="mod_tab__item" href = "javascript:void(0);" onclick ="show_album()">专辑</a>
				  <a id="tab_songlist" class="mod_tab__item" href = "javascript:void(0);" onclick ="show_songlist()">歌单</a>
				  <a id="tab_singer" class="mod_tab__item" href = "javascript:void(0);" onclick ="show_singer()">歌手</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="show">
				<!-- 单曲展示 -->
				<div id="show_song" style="display:block;">
					<div class="row">
						<span>共搜索到{{ songCount }}首单曲</span>
					</div>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-hover"> 
								<thead> 
									<tr> 
										<td>歌曲</td>
										<td>歌手</td>
										<td>专辑</td>
										<td>时长</td> 
									</tr> 
								</thead > 
								<tbody v-for="song in songs"> 
									<tr> 
										<td>
											<a :href="toSongPage(song.id)" target="_blank">
												<span >{{ song.name }}</span>
												<span v-if="song.alias.length>0" > ({{ song.alias[0] }})</span>
											</a>
										</td> 
										<td> 
											<!-- 遍历出歌手 -->
											<span v-for="(singer,index) in song.artists" >
												<a :href="toSingerPage(singer.id)" target="_blank">
													{{ singer.name }}
												</a>
												<!-- 判断是否加入分隔符 -->
												<span v-if="index < song.artists.length-1">/</span>
											</span>
											
										</td>
										 <td><a :href="toAlbumPage(song.album.id)" target="_blank">{{ song.album.name }}</a></td>
										 <td><span >{{ formatDuraton(song.duration) }}</span>  </td>
									</tr>
								</tbody> 
							 </table> 
						</div>
					</div>
				</div>
				<!-- 专辑展示 -->
				<div id="show_album" style="display:none;">
					<div class="row">
						<span>共搜索到{{ albumCount }}张专辑</span>
					</div>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-hover"> 
								<thead> 
									<tr> 
										<td>专辑</td>
										<td>歌手</td>
										<td>发行时间</td> 
									</tr> 
								</thead > 
								<tbody v-for="album in albums"> 
									<tr>
										<td>
											<a :href="toAlbumPage(album.id)" target="_blank">
												<img width="100" height="100" :src="album.blurPicUrl + '?param=200y200'" />
												<span class="search_name" >{{ album.name }}</span>
											</a>
										</td>
										<td>
											<a :href="toSingerPage(album.artist.id)" target="_blank">
												<span >{{ album.artist.name }}</span>
											</a>
										</td>
										<td><span >{{ timestampToTime(album.publishTime) }}</span>  </td>
									</tr>
								</tbody> 
							 </table> 
						</div>
					</div>
				</div>
				<!-- 歌单展示 -->
				<div id="show_songlist" style="display:none;">
					<div class="row">
						<span>共搜索到{{ playlistCount }}条歌单</span>
					</div>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-hover"> 
								<thead> 
									<tr> 
										<td>歌单</td>
										<td>创建者</td>
										<td>单曲数</td>
										<td>收听</td> 
									</tr> 
								</thead > 
								<tbody v-for="playlist in playlists"> 
									<tr> 
										<td>
											<a :href="toPlaylistPage(playlist.id)" target="_blank">
												<img width="100" height="100" :src="playlist.coverImgUrl + '?param=200y200'" />
												<span class="search_name">{{ playlist.name }}</span>
											</a>
										</td> 
										<td> 
											<a :href="toUserPage(playlist.creator.userId)" target="_blank">
												<span>{{ playlist.creator.nickname }}</span>
											</a>
										</td>
										<td><span >{{ playlist.trackCount }}</span></td>
										<td><span >{{ formatPlayCount(playlist.playCount) }}</span></td>
									</tr>
								</tbody> 
							 </table> 
						</div>
					</div>
				</div>
				<!-- 展示歌手 -->
				<div id="show_singer" style="display:none;">
					<div class="row">
						<span>共搜索到{{ singerCount }}位歌手</span>
					</div>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-hover"> 
								<thead> 
									<tr> 
										<td></td>
									</tr> 
								</thead > 
								<tbody v-for="singer in singers"> 
									<tr> 
										<td>
											<a :href="toSingerPage(singer.id)" target="_blank">
												<img width="100" height="100" :src="singer.picUrl + '?param=200y200'" />
												<span class="search_name">{{ singer.name }}</span>
											</a>
										</td> 
									</tr>
								</tbody> 
							 </table> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/jquery.base64.js"></script>
  </body>
  <script>
		function oneValues(){
			var result;
			var url=window.location.search; //获取url中"?"符后的字串  
			if(url.indexOf("?")!=-1)
				result = url.substr(url.indexOf("=")+1);
			return result;
		}
		
	  // 根据id修改当前选中的选项卡
		function tab_switch(id){
			var tab_items=["tab_song","tab_album","tab_songlist","tab_singer"];
			for(var i=0,len=tab_items.length; i<len ;i++){
				if(tab_items[i] == id)
					$("#"+tab_items[i]).attr("class","mod_tab__item mod_tab__current");
				else
					$("#"+tab_items[i]).attr("class","mod_tab__item");					
			} 
		}
		// 根据id修改当前展示的内容
		function show_switch(id){
			var shows=["show_song","show_album","show_songlist","show_singer"];
			for(var i=0,len=shows.length; i<len ;i++){
				if(shows[i] == id)
					$("#"+shows[i]).attr("style","display:block;");
				else
					$("#"+shows[i]).attr("style","display:none;");					
			}
		}
		// 展示单曲事件
		function show_song(){
			tab_switch("tab_song");
			show_switch("show_song");
		}
		// 展示专辑事件
		function show_album(){
			tab_switch("tab_album");
			if(searchVue.albumCount == ''){
				// type=10搜索专辑
				$.getJSON(
				    "http://47.96.174.115/search?type=10&keywords=" + oneValues(),
				    function(data) {
						if(data.code == 200){
							searchVue.albums = data.result.albums;
							searchVue.albumCount = data.result.albumCount;
							console.log(searchVue.albums);
						}
				    }
				);
			};
			show_switch("show_album");
		}
		// 展示歌单事件
		function show_songlist(){
			tab_switch("tab_songlist");
			if(searchVue.playlistCount == ''){
				// type=1000搜索歌单
				$.getJSON(
				    "http://47.96.174.115/search?type=1000&keywords=" + oneValues(),
				    function(data) {
						if(data.code == 200){
							searchVue.playlists = data.result.playlists;
							searchVue.playlistCount = data.result.playlistCount;
							console.log(searchVue.playlists);
						}
				    }
				);
			};
			show_switch("show_songlist");
		}
		// 展示歌手事件
		function show_singer(){
			tab_switch("tab_singer");
			if(searchVue.singerCount == ''){
				// type=100搜索歌手
				$.getJSON(
				    "http://47.96.174.115/search?type=100&keywords=" + oneValues(),
				    function(data) {
						if(data.code == 200){
							searchVue.singers = data.result.artists;
							searchVue.singerCount = data.result.artistCount;
						}
				    }
				);
			};
			show_switch("show_singer");
		}
		
		var searchVue = new Vue({
			el: '#show',
			data: {
				keywords: oneValues(),
				songs: [],
				albums: [],
				playlists: [],
				singers :[],
				songCount: '',
				albumCount: '',
				playlistCount: '',
				singerCount: '',
			},
			methods: {
				// 传送至相应的歌曲详情页面
				toSongPage: function (id) {
					return 'player.html?' + $.base64.encode('id=' + id);
				},
				//传送至相应的专辑详情页面
				toAlbumPage: function (id) {
					return 'album.html?' + $.base64.encode('id=' + id);
				},
				// 传送至相应的歌单详情页面
				toPlaylistPage: function (id) {
					return 'playlist.html?' + $.base64.encode('id=' + id);
				},
				// 传送至相应的歌手详情页面
				toSingerPage: function (id) {
					return 'singer.html?' + $.base64.encode('id=' + id);
				},
				// 传送至用户详情页面
				toUserPage: function (id) {
					return 'user.html?' + $.base64.encode('id=' + id);
				},
				// 格式化音乐时长
				formatDuraton: function (time){
					if(time > -1){
						var temp;
						var sec = Math.floor(time/1000);
						//var min = Math.floor(time/60) % 60;
						var min = Math.floor(sec/60);
						sec = sec - min*60;
						if(min < 10){
							temp = "0" + min + ":";
						}else
							temp = min + ":";
						if(sec < 10){
							temp += "0" + sec ;
						}else
							temp += sec ;
					}
					return temp;
				},
				//时间戳转换为日期
				timestampToTime: function(timestamp) {
					var date = new Date(timestamp);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
					var Y = date.getFullYear() ;
					var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) ;
					var D = date.getDate() ;
					var h = date.getHours() ;
					if(h < 10)
						h = '0' + h;
					var m = date.getMinutes() ;
					if(m < 10)
						m = '0' + m;
					var s = date.getSeconds();
					return Y + '年' + M + '月' + D + '日';
				},
				// 格式化播放量
				formatPlayCount: function (count){
					if(count >= 100000)
						return (count/10000).toFixed(2) + "万";
					else
						return count;
				},
			}
		});
		// 搜索单曲
		$.getJSON(
		    "http://47.96.174.115/search?keywords=" + oneValues(),
		    function(data) {
				if(data.code == 200){
					searchVue.songs = data.result.songs;
					searchVue.songCount = data.result.songCount;
					console.log(searchVue.songs);
				}
		    }
		);
  </script>
</html>